*.dll filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
Library/expandedItems filter=lfs diff=lfs merge=lfs -text
Library/ShaderCache filter=lfs diff=lfs merge=lfs -text
Library/InspectorExpandedItems.asset filter=lfs diff=lfs merge=lfs -text
Library/Search filter=lfs diff=lfs merge=lfs -text
Library/ShaderCache.db filter=lfs diff=lfs merge=lfs -text
Library/SourceAssetDB-lock filter=lfs diff=lfs merge=lfs -text
Library/StateCache filter=lfs diff=lfs merge=lfs -text
Library/Style.catalog filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/ScriptAssemblies filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB-lock filter=lfs diff=lfs merge=lfs -text
Library/Bee filter=lfs diff=lfs merge=lfs -text
Library/BuildPlayer.prefs filter=lfs diff=lfs merge=lfs -text
Library/GridBrush filter=lfs diff=lfs merge=lfs -text
Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
Library/APIUpdater filter=lfs diff=lfs merge=lfs -text
Library/Artifacts filter=lfs diff=lfs merge=lfs -text
Library/BuildSettings.asset filter=lfs diff=lfs merge=lfs -text
Library/BurstCache filter=lfs diff=lfs merge=lfs -text
Library/EditorOnlyScriptingSettings.json filter=lfs diff=lfs merge=lfs -text
Library/LibraryFormatVersion.txt filter=lfs diff=lfs merge=lfs -text
Library/MonoManager.asset filter=lfs diff=lfs merge=lfs -text
Library/PackageCache filter=lfs diff=lfs merge=lfs -text
Library/PackageManager filter=lfs diff=lfs merge=lfs -text
Library/SpriteAtlasDatabase.asset filter=lfs diff=lfs merge=lfs -text
Library/EditorOnlyVirtualTextureState.json filter=lfs diff=lfs merge=lfs -text
Library/EditorSnapSettings.asset filter=lfs diff=lfs merge=lfs -text
Library/TempArtifacts filter=lfs diff=lfs merge=lfs -text
Library/LastSceneManagerSetup.txt filter=lfs diff=lfs merge=lfs -text
Library/CurrentLayout-default.dwlt filter=lfs diff=lfs merge=lfs -text
Library/EditorUserBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
Library/SceneVisibilityState.asset filter=lfs diff=lfs merge=lfs -text
Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.physics2d@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.terrain@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.nuget.newtonsoft-json@3.0.2 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.psdimporter@6.0.4 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ext.nunit@1.0.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.particlesystem@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.imageconversion@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.xr@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.services.core@1.4.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.pixel-perfect@5.0.1 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.sprite@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.mathematics@1.2.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.audio@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.tilemap@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ide.visualstudio@2.0.16 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.androidjni@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.director@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.vehicles@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.vr@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.textmeshpro@3.0.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ide.vscode@1.2.5 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.test-framework@1.1.31 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collab-proxy@1.15.18 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.imgui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.subsystems@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.ui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.animation@7.0.6 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.3 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.ai@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ugui@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.path@5.0.2 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.ide.rider@3.0.15 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.video@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.feature.2d@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.cloth@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.uielementsnative@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.wind@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.timeline@1.6.4 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.tilemap@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.screencapture@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.umbra@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.spriteshape@7.0.4 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.tilemap.extras@2.2.3 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.assetbundle@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.physics@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.uielements@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.visualscripting@1.7.8 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.modules.animation@1.0.0 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.6/.Runtime filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
